<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_list">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br>
  <div class="task_list">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>

  <br>

  <div class="task_list">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>

  <br>

  <div class="task_list">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.map {|k| [I18n.t("enums.tasks.status.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div>
  <br>
  <div class="task_list">
  <%= form.label :priority %>
  <%= form.select :priority, Task.priorities.keys.map {|k| [I18n.t("enums.tasks.priority.#{k}"), k]}, include_blank: "選択して下さい" %>
  </div> 

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
