<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task_list">
    <%= form.label :task_name %>
    <%= form.text_field :task_name %>
  </div>

  <div class="task_list">
    <%= form.label :detail %>
    <%= form.text_area :detail %>
  </div>
  <div class="task_list">
    <%= form.label :deadline %>
    <%= form.date_field :deadline %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
