<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
        <span class="sr-only">Bootstrap</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Task List
      </a>
    </div>
    <div id="gnavi" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="">タスク登録</a></li>
        <li><a href="">タスク一覧</a></li>
        <li><a href="">アカウント詳細</a></li>
        <li><a href="">ログアウト</a></li>
      </ul>
    </div>
  </div>
</nav>

<p id="notice"><%= notice %></p>

<h4>Task Search<%= form_with(model: Task.new, method: :get, local: true, url: tasks_path) do |form| %>
  <%= form.text_field :name %>
<h4/>

<h4>Status Search
  <%= form.select :status, [["未着手", "0"], ["進行中", "1"], ["完了", "2"]], include_blank: "選択して下さい" %>
  <%= form.submit 'Search', name: nil %>
<% end %> 
</h4> 

<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Detail</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class = "task_list" ><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status_i18n %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<%= link_to "優先度高い順でソート", tasks_path(sort_priority_high: "true") %>
<br>
<%= paginate @tasks %>