<p id="notice"><%= notice %></p>

<div class = "container-fluid">
  <ul class="row">
    <li class="col-md-12">タスク検索<%= form_with(model: Task.new, method: :get, local: true, url: tasks_path) do |form| %>
      <%= form.text_field :name %>
    <li/>

    <li class="col-md-12">ステータス検索</li>
    <li><%= form.select :status, [["未着手", "0"], ["進行中", "1"], ["完了", "2"]], include_blank: "選択して下さい" %></li>
    
    <li class="col-md-12">ラベル検索<%= form.select("label_id", Label.all.pluck(:name, :id), { include_blank: true }) %></li>

    <li><button type="button" class="btn btn-dark"><%= form.submit '検索', name: nil %></button></li>  
    <% end %>  
  </ul>
</div>

<table>
  <thead>
    <tr>
      <th>タスク</th>
      <th>詳細</th>
      <th>期限</th>
      <th>ステータス</th>
      <th>優先度</th>
      <th>タグ</th>
      <th>閲覧</th>
      <th>編集</th>
      <th>削除</th>
      <th colspan="３"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class = "task_list" ><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status_i18n %></td>
        <td><%= task.priority_i18n %></td>
        <td>
          <% task.labels.each do |label| %>
            <%= label.name %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Deliete', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<button type="button" class="btn btn-warning btn-sm"><%= link_to 'タスク作成', new_task_path %></button>
<br>
<br>
<button type="button" class="btn btn-info btn-sm"><%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %></button>
<button type="button" class="btn btn-info btn-sm"><%= link_to "優先度高い順でソート", tasks_path(sort_priority_high: "true") %></button>
<br>
<nav aria-label="Page navigation example"><%= paginate @tasks %></nav>