<%= form_with(model: [:admin @user], local: true) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
  
        <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="user_list">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="user_list">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="user_list">
      <%= form.label :email %>
      <%= form.email_field :email %>
    </div>

    <div class="user_list">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>

    <div class="user_list">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div> 
    
      <%= form.submit %>
  
  <% end %>
  